.dashboardall {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    min-width: 100vh;
}

.navbar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #2d2c2c;
    height: 60px;
}

.navbar2 .message2 {
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    color: #acc424;
    font-size: 23px;
    font-weight: 500;
    position: fixed;
}
.full1{
    display: flex;
}
.right-navbar2 {
    width:22%;
    background-color:#2d2c2c ;
    height: 100vh ;
    /* margin-bottom: -50px; */
    /* float:right; */
   /* margin-bottom: 10%; */
    color: white;
    /* position: fixed; */
    /* margin-right: 10px; */
}
.right-navbar2>h3{
    margin:20px;
    color: #acc424;
}
h4{
    margin:20px;
    color: #ffffff;
    margin-top: 15%;
}
.select-city1 {
    width: 200px;
    height: 40px;
    background-color: #232222;
    color: white;
    font-size: medium;
    margin-left: 5%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .inputs1>input{
    width: 185px;
    height: 20px;
    background-color: #232222;
    color: white;
    font-size: medium;
    margin-left: 5%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-top: 5%; */
  }
  
  

.button2 > button {
    background-color: #acc424;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid white;
    margin-left: 80px;
    font-size: large;
    font-weight: bold;
    margin-bottom: -30px;
    cursor: pointer;
}

.dashboardall .main2 {
    color: white;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 220px;
}

@media (max-width: 900px) {
    .dashboardall .main2 {
        margin-left: 0; 
    }

    .main2 > h2 {
        max-width: 70%;
        margin-left: 15%; 
    }

    .main2 .card2 {
        max-width: 80%
    }
    .main2 .card2 {
        margin-left: 9.5%;
    }

    .card2 .content2 .leftside2 {
        margin-left: 2%; 
        float: none; 
    }

    .card2 .content2 .rightside2 {
        margin-right: 5%; 
        float: none; 
    }

    .card2 .content2 .leftside2 .name2 {
        font-size: 18px; 
        margin-top: 5px; 
    }

    .card2 .content2 .leftside2 .salary2 {
        gap: 10px;
    }

    .card2 .content2 .rightside2 .buttons2 > button {
        height: 30px; 
        width: 70px; 
        margin: 10px; 
        font-size: 12px; 
    }
}



.main2 > h2 {
    color: #acc424;
}

.main2 .card2 {
    height: 100px;
    border-radius: 20px;
    background-color: #2d2c2c;
    width: 100%;
    margin-bottom: 25px;
    width: 120vh;
}

.card2 .content2 .leftside2 {
    float: left;
    margin-left: 40px;
}

.card2 .content2 .leftside2 .name2 {
    font-size: 30px;
    margin-top: 10px;
}

.card2 .content2 .leftside2 .salary2 {
    gap: 25px;
    display: flex;
}

.card2 .content2 {
    display: flex;
    justify-content: space-between; }

.card2 .content2 .rightside2 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-end; 
}


.card2 .content2 .rightside2 > * {
    margin-left: 10px;
}

.card2 .content2 .rightside2 > * {
    text-align: left;
    margin-right: 20px;
}
.card2 .content2 .rightside2 .buttonss2 > button {
    height: 40px;
    width: 95px;
    margin: 15px;
    margin-bottom: -5px;

    background-color: #acc424;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}
